.LogIn {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}

.sign-up__text {
    opacity: 0.5;
}

.sign-up__button {
    background-color: white;
}

.sign-up__button .MuiButton-label {
    color: #3A8DFF;
    margin: .5rem 1rem;
}

.sign-up__button {
    background-color: white !important;
    margin-left: 2rem !important;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 20%;
}

.login__welcome {
    align-self: flex-start;
    font-weight: 600;
}

.login__email,
.login__welcome {
    margin-bottom: 2rem !important;
}

.login__password {
    margin-bottom: 4rem !important;
}

.login__button .MuiButton-label {
    margin: .5rem 2rem;
}

.MuiButton-label {
    text-transform: none;
}
